{% include 'header.twig' %}

{% if PageText %} 

 <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_api" class="pt-5">
  <div class="block-api">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="cardff">
               <div class="col-md-12g">
      <div class="well "></br></br>
        <div class="dashboard-content">
<div class="head clearfix">
    <h5>Terms & policy</h5>
    <span><strong> <img width="30" height="30" src="https://i.imgur.com/lvwNVuM.png" ></img> </strong></span>
  </div>
  <div class="content">
    <p>{{ contentText2 }}</p>
  </div>
</div>
      </div>
    </div>
  </div>  </div>
 </div> </div>
</div> </div>
  </div>
</div>









  
  
  
{% endif %} 


{% include 'footer.twig' %}
