{% include 'header.twig' %}
<style>@media(max-width: 720px){.login-box{margin-top: 50px;}}</style>
<div id="block_105"style="height:100vh;width:100%">
          <div class="bg" style="background-image: url('app/views/xblur/image/Background.png');"></div>
    <div class="sign-in">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
           <div class="row sign-up-center-alignment" style="justify-content: center;">
                <div class="col-lg-5">
                    <div class="component_card">
                        <div class="login-box up">
   
    <div class="col-md-12">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}

      <div class="well">
        <form method="post" action="">

          <div class="form-group">
            <label for="email" class="control-label">Username</label>
            <input type="text" class="form-control" value="{{ user['username'] }}" placeholder="{{ user['username'] }}" readonly>
          </div>
<div class="form-group">
        
<label class="control-label" for="orderpanelform-password">Password</label><input type="password" class="form-control" name="password" placeholder="New Password" required>
    </div>
    		  <div class="form-group">
        
<label class="control-label" for="orderpanelform-password">Confirm Password</label><input type="password" class="form-control" name="password_again" placeholder="Password" required>
    </div>


   

            <button type="submit" class="btn btn-block btn-big-primary">Change</button>
        </form>
      </div>
    </div>
  </div></div>

    </div></div></div>
</div></div>
</div>
{% include 'footer.twig' %}
