{% include 'header.twig' %}
      <div id="block_105"style="min-height:100vh;width:100%">
          <div class="bg" style="background-image: url('app/views/xblur/image/Background.png');"></div>
    <div class="sign-in">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row sign-up-center-alignment" style="justify-content: center; ">
                <div class="col-lg-5 col-md-6 col-sm-12 lud">
                    <div class="component_card">
                        <div class="super-box up mb-4">
		{% if contentText %}
{{ contentText }}
{% endif %}</div><div class="super-box up">
           {% if contentText2 %}
{{ contentText2 }}
{% endif %}
 </div> </div>
</div> </div>
  </div>
</div><br>
</div>
</div>    </div></div></div></div></div>

{% include 'footer.twig' %}
