 {% include 'header.twig' %}
<div id="main-content" > 
   <div class="container-fluid">
         
       
         <div class="row">
            <div class="col-xs-12 ">
               <div class="well ">
               <div>
      <div>
        <h2>Earn Money With Us</h2>
        <h3>Giveaway</h3>
        <p>Earn money every day by sharing about us in<br> social media, also use your affiliate link.</p>
      </div>
    </div>
    <div>
      <img alt="boy-search" src="https://res.cloudinary.com/dlcqtguzh/image/upload/v1619634051/boysearch_xqgivw.png">
      <img alt="coin1" src="https://res.cloudinary.com/dlcqtguzh/image/upload/v1619634063/coin_l6jwps.png">
      <img alt="coin2" src="https://res.cloudinary.com/dlcqtguzh/image/upload/v1619634113/coin_tji6ga.png">
      <img alt="boy-tblt" src="https://res.cloudinary.com/dlcqtguzh/image/upload/v1619634136/boy-tblt_bliqjy.png">
    </div>
    <div>
      <div>
        <h2>How it Works?</h2>
        <p>Scroll Down To See How Can You Earn Free<br> Balance</p>
        <img alt="" src="https://i.imgur.com/wIyIAtp.png">
      </div>
    </div>


  <div>
    <div>
      <ul>
        <li><p>Post</p></li>
        <li><p>Blog</p></li>
        <li><p>Email</p></li>
        <li><p>Video</p></li>
        <li><p>Affiliate Link</p></li>
      </ul>
      <div>
      	<img alt="" src="https://i.imgur.com/Ce3hGC9.png">
      </div>
    </div>
  </div>


  <div>
  	<div>
      <div>
        <h2>Earn Money With Making Video</h2>
        <h3>Making Video EARN$2</h3>
        <p>Create Any video about our panel and share it any social media <br>than you can earn $2</p>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <div>
            	<img alt="" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div>
            	EARN$2
            </div>
          </div>
          <div>
            <h3>Make a Complete Video</h3>
            <p>How To Use  Smmmonk.com</p>
          </div>
        </div>
        <p>And Share it On Social Media Platforms</p>
      </div>
      <div>
        <div>
          <div>
            <div>
            	<img alt="" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div>
            	EARN$2
            </div>
          </div>
          <div>
            <h3>Make a Complete Video</h3>
            <p>How To Create New Order </p>
          </div>
        </div>
        <p>And Share it On Social Media Platforms</p>
      </div>
      <div>
        <div>
          <div>
            <div>
            	<img alt="" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div>
            	EARN$2
            </div>
          </div>
          <div>
            <h3>Make a Complete Video</h3>
            <p>How To Add Funds</p>
          </div>
        </div>
        <p>And Share it On Social Media Platforms</p>
      </div>
    </div>
    <div>
      <div>
        <p>You can uplaod these on video on any platform like <br>youtube , facebook , instagram ,twitter, tiktok or any platform you like </p>
      </div>
    </div>
  </div>


  <div>
  	<div>
      <div>
        <h2>Earn Money With Blog Writing Video</h2>
        <h3>Making Blog EARN$2</h3>
        <p>Create Any video about our panel and share it any social media <br>than you can earn $2</p>
      </div>
    </div>
    <div>
      <div>
        <div>
          <div>
            <div>
            	<img alt="" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div>
            	EARN$2
            </div>
          </div>
          <div>
            <h3>Write a 1 Blog And Post it</h3>
            <p>How To Use  Smmmonk.com</p>
          </div>
        </div>
        <p>And Share it On Social Media Platforms</p>
      </div>
      <div>
        <div>
          <div>
            <div>
            	<img alt="" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div>
            	EARN$3
            </div>
          </div>
          <div>
            <h3>Write a 2 Blog And Post it</h3>
            <p>How To Create New Order </p>
          </div>
        </div>
        <p>And Share it On Social Media Platforms</p>
      </div>
      <div>
        <div>
          <div>
            <div>
            	<img alt="" src="https://i.imgur.com/KVJ1p6K.png">
            </div>
            <div>
            	EARN$4
            </div>
          </div>
          <div>
            <h3>Write a 3 Blog And Post it</h3>
            <p>How To Add Funds</p>
          </div>
        </div>
        <p>And Share it On Social Media Platforms</p>
      </div>
    </div>
    <div>
      <div>
        <p>You can uplaod these on video on any platform like <br>youtube , facebook , instagram ,twitter, tiktok or any platform you like </p>
      </div>
    </div>
  </div></div>
            </div>
        </div>
        </div>
        </div>
{% include 'footer.twig' %}
