{% include 'header.twig' %}
<div class="paddingbody"></div>
<div class="container-fluid container-fluid-spacious">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="main-page" class="well well-float table-responsive">
        <div class="">
          {% if errorText %}
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ errorText }}
          </div>
        {% endif %}
        {% if successText %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ successText }}
          </div>
        {% endif %}
          <form  action="" method="post">
            
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <input class="form-control" name="user" value="{{ data['user'] }}" id="email" required="" type="text">
            </div>
            {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}
            <button type="submit" class="btn btn-block btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% include 'footer.twig' %}
